In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('kaggle_visible_evaluation_triplets.txt',sep='\t',names=['user_id','song_id','freq'])
df.head()

                                    user_id             song_id  freq
0  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOBONKR12A58A7A7E0   1.0
1  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOEGIYH12A6D4FC0E3   1.0
2  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOFLJQZ12A6D4FADA6   1.0
3  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOHTKMO12AB01843B0   1.0
4  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SODQZCY12A6D4F9D11   1.0

In [18]:
df.tail()

                                        user_id             song_id  freq
67574  6be6a031745a225911ec8abec80ee93d0a84ca78  SOQYQGQ12A8C134FF4   1.0
67575  6be6a031745a225911ec8abec80ee93d0a84ca78  SOIHTPJ12AB0186209   1.0
67576  6be6a031745a225911ec8abec80ee93d0a84ca78  SONLQKA12AB01898F4   2.0
67577  6be6a031745a225911ec8abec80ee93d0a84ca78  SOIMAIR12AB018218B   1.0
67578      6be6a031745a225911ec8abec80ee93d0a84                 NaN   NaN

In [26]:
df=df.drop(67578)
df.tail()

                                        user_id             song_id  freq
67573  6be6a031745a225911ec8abec80ee93d0a84ca78  SOJPNVH12AC4688B3E   2.0
67574  6be6a031745a225911ec8abec80ee93d0a84ca78  SOQYQGQ12A8C134FF4   1.0
67575  6be6a031745a225911ec8abec80ee93d0a84ca78  SOIHTPJ12AB0186209   1.0
67576  6be6a031745a225911ec8abec80ee93d0a84ca78  SONLQKA12AB01898F4   2.0
67577  6be6a031745a225911ec8abec80ee93d0a84ca78  SOIMAIR12AB018218B   1.0

In [22]:
df.describe()

               freq
count  67578.000000
mean       3.242253
std        7.341802
min        1.000000
25%        1.000000
50%        1.000000
75%        3.000000
max      384.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67579 entries, 0 to 67578
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  67579 non-null  object
 1   song_id  67578 non-null  object
 2   freq     67578 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.5+ MB

In [6]:
detail_df=pd.read_csv('unique_tracks.txt',sep='<SEP>',names=['track_id','song_id','artist_name','release'])
detail_df.head()

             track_id             song_id       artist_name            release
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [19]:
detail_df.shape

(12456, 4)

In [7]:
detail_df.tail()

                 track_id             song_id        artist_name       release
12451  TRMQION128F429F9F9  SOLGEDZ12A8C1426AF        Jazz Gillum    Fast Woman
12452  TRMQIHA128F9326A6F  SOOAXVH12AB01869AF            Unwound     Scarlette
12453  TRMQISV128F42B82CD  SOMFXUU12AF72A7F28  Bruce Springsteen  Mrs. McGrath
12454  TRMQIFM128F428847B  SOZOREF12A8C13D754          Brown Boy  Smile For Me
12455  TRMQIMS12903CD42AC  SOAWFEV12AB01880EA               Evil          None

In [27]:
print(sum(df.isnull().any()),sum(detail_df.isnull().any()))

0 1

In [25]:
df.isnull().sum()

user_id    0
song_id    1
freq       1
dtype: int64

In [10]:
detail_df.isnull().sum()

track_id       0
song_id        0
artist_name    0
release        1
dtype: int64

In [29]:
detail_df['release'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
12451    False
12452    False
12453    False
12454    False
12455     True
Name: release, Length: 12456, dtype: bool

In [30]:
detail_df=detail_df.drop(12455)

In [31]:
detail_df.tail()

                 track_id  ...           release
12450  TRMQIYI128F42B3262  ...  You're Beautiful
12451  TRMQION128F429F9F9  ...        Fast Woman
12452  TRMQIHA128F9326A6F  ...         Scarlette
12453  TRMQISV128F42B82CD  ...      Mrs. McGrath
12454  TRMQIFM128F428847B  ...      Smile For Me

[5 rows x 4 columns]

In [32]:
detail_df.isnull().sum()

track_id       0
song_id        0
artist_name    0
release        0
dtype: int64

In [33]:
duplicated=df.duplicated()
sum(duplicated)

0

In [34]:
duplicated=detail_df.duplicated()
sum(duplicated)

0

In [35]:
duplicated=detail_df['song_id'].duplicated()
sum(duplicated)

0

In [39]:
song_df=pd.merge(df,detail_df,on='user_id')
song_df
### we need to merge the two data frames

KeyError: ignored

In [ ]:
song_df.shape

#Basic Statistics

In [ ]:
print('Total Data Points',song_df.shape[0])
print('Total NO of users',song_df['user_id'].unique().shape[0])
print('Total number of songs',song_df['song_id'].unique().shape[0])
print('Total number of Tracks',song_df['track_id'].unique().shape[0])

In [ ]:
print('Number of unique release',song_df['release'].unique().shape[0])
print('Number of unique artists',song_df['artist_name'].unique().shape[0])

In [ ]:
song_df.describe()

# Distribution of Frequency column

In [40]:
#normal distribution of freq

# Number of songs listened per user

In [41]:
#groupby code
#using user_id,song_id

In [ ]:
songs_per_user.sort_values().head()

In [ ]:
songs_per_user.sort_values().tail()

In [ ]:
songs_per_user.describe()

In [ ]:
plt.xlabel('NUmber of songs per user')
sns.kdeplot(songs_per_user)
plt.show()

# Analysis of popular artist

In [42]:
#group by
#artistname and userid

In [ ]:
artist_popularity.sort_values().head()

In [ ]:
artist_popularity.sort_values().tail()

In [43]:
# looking at cold play releases

In [44]:
# looking at justin beiber releases

In [ ]:
sorted_artist_popularity=artist_popularity.sort_values(ascending=False)

In [45]:
# plotting of popularity and artist

# Analysis of popularity song

In [46]:
# using release and userid

In [ ]:
song_popularity.sort_values().head()

In [ ]:
song_popularity.sort_values().tail()

In [ ]:
sorted_song_popularity=song_popularity.sort_values(ascending=False)

In [ ]:
# plot betweeen popularity and song